<head>
    <title>OTP Generator</title>
</head>
<body>
    <header id="header">
        <a href="#" class="logo">Generate OTP</a>
    </header>
    
    <Section>
        <h2 id="text"><span>Please enter the email id</span></h2>
        
        <img src="https://user-images.githubusercontent.com/65358991/170092504-132fa547-5ced-40e5-ab64-ded61518fac2.png" id="bird1">
        <img src="https://user-images.githubusercontent.com/65358991/170092542-9747edcc-fb51-4e21-aaf5-a61119393618.png" id="bird2">
        <img src="https://user-images.githubusercontent.com/65358991/170092559-883fe071-eb4f-4610-8c8b-a037d061c617.png" id="forest">
        
        <div id="text">
            <input type="email" id="email" placeholder="Enter Email ID" pattern=".+@globex\.com" size="30" required>
          </div>
          <button type="submit" id="btn" class="btn"><b><a routerLink="/otp">Click Here</a></b></button><br>
        <!-- <a href="#" id="btn">Explore</a> -->
        
        <img src="https://user-images.githubusercontent.com/65358991/170092605-eada6510-d556-45cc-b7fa-9e4d1d258d26.png" id="rocks">
        <img src="https://user-images.githubusercontent.com/65358991/170092616-5a70c4af-2eed-496f-bde9-b5fcc7142a31.png" id="water">
    </Section>
    
    

    
</body>