.otp-input-wrapper {
    width: 240px;
    text-align: center;
    display: inline-block;
  }
  .otp-input-wrapper input {
    padding: 0;
    width: 264px;
    font-size: 32px;
    font-weight: 600;
    color: #3e3e3e;
    background-color: transparent;
    border: 0;
    margin-left: 12px;
    letter-spacing: 48px;
    font-family: sans-serif !important;
  }
  .otp-input-wrapper input:focus {
    box-shadow: none;
    outline: none;
  }
  .otp-input-wrapper svg {
    position: cen;
    display: block;
    width: 240px;
    height: 2px;
  }
